<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta
	name="author" content="Dale Studios (Leicester) Ltd">

	<!-- icon set -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/public/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/public/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/public/favicon-16x16.png">
	<link rel="manifest" href="{{ theme.link }}/public/site.webmanifest">
	<link rel="mask-icon" href="{{ theme.link }}/public/safari-pinned-tab.svg" color="#ffffff">
	<link rel="shortcut icon" href="{{ theme.link }}/public/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="{{ theme.link }}/public/browserconfig.xml">
	<meta
	name="theme-color" content="#ffffff">

	<!-- social -->
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="{{ site.url }}">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:site" content="{{ site.url }}">
	<meta name="twitter:creator" content="@dalestudios">
	<meta name="twitter:image" content="">
	<meta name="twitter:image:alt" content="{{ site.title }}">
	<meta name="twitter:card" content="summary_large_image">

	<title>{{ site.title }}</title>
	<meta
	name="description" content="{{ site.description }}"/>

	<!-- wp_head -->
	{{function('wp_head')}}
</head>
